.bill-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 4rem;;
  }
  
  .bill-table th {
    background-color: #ddd;
    text-align: left;
    padding: 0.5rem;
  }
  
  .bill-table td {
    /* border: 1px solid #ddd; */
    padding: 0.5rem;
  }


  @media (max-width: 600px) {
    .bill-table {
      font-size: 0.8rem;
    }
    
    .bill-table th,
    .bill-table td {
      display: block;
      width: 100%;
      text-align: left;
    }
    
    .bill-table th {
      font-weight: bold;
      margin-bottom: 1rem;
    }
  }